body {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
#box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(177, 233, 243);
    width:50%;
    height: 50vh;
    padding: 30px;
    border-radius: 20px;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    display: block;
    font-weight: 750;

}
button {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: rgb(81, 137, 68);
    border:none;
    cursor: pointer;
    color: white;
    transition: background-color 1ms;
}
button:hover {
    background-color: black;
}
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
